</body>

<!--arquivos vindos da pasta node_modules-->

<!--para o bootstrap-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

<!--superpoderes para campos de texto-->
<script src="/tinymce/tinymce.min.js"></script>


</html>