<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guia perguntas</title>

    <!--arquivos vindos da pasta node_modules-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <!--customizando css-->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<nav class="navbar light bg-dark bg-primary">
    <a href="/" class="nav-brand">
        <img src="/img/guia.png" alt="">
    </a>
</nav>

<div class="container">

    <div class="card" id="formulario-pergunta">
        <div class="card-header">
            <h3>Testando container</h3>
        </div>
        <div class="card-body">
            <form action="">
                <label >Titulo</label>
                <input type="text" placeholder="Titulo" class="form-control">
                <br>
                <label >Descricao</label>
                <textarea placeholder="Descreva sua pergunta aqui"  class="form-control"></textarea>
                <br>
                <button class="btn btn-success">Perguntar</button>
            </form>
        </div>
    </div>



    <hr>

</div>



<!--arquivos vindos da pasta node_modules-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>


