
<div class="container">
    <hr>
    <h1 class="text-center">Links Uteis</h1>
    <hr>
    <div class="row">
        <div class="col">

            <div class="d-flex justify-content-center align-items-center m-2">
                <a class="btn btn-success  mr-2 col-3" href="sql/select">Select</a>
                <a class="btn btn-success mr-2 col-3" href="sql/insert">Insert</a>
                <a class="btn btn-success mr-2 col-3" href="sql/update">Update</a>
                <a class="btn btn-success mr-2 col-3" href="sql/delete">Delete</a>
            </div>

            <hr>
            <div class="d-flex justify-content-center align-items-center m-2">
                <a class="btn btn-dark mr-2 col-3" href="/testes-sistemas">Testes Sistemas</a>
                <a class="btn btn-primary  mr-2 col-3" href="/robo">Robo Ações</a>
            </div>

            <hr>
            <div class="d-flex justify-content-center align-items-center m-2">
                <div class="container">
                    <div class="row">
                        <h2>Fix Uteis</h2>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col">


                            <a class="btn btn-secondary   mt-2" href="#fix/script_ep_cancelar_um_cd_aut">fix script ep cancelar um cd_aut</a><br>

                            <a class="btn btn-secondary  mt-2 " href="#compras">compras_home</a><br>



                            <a class="btn btn-danger  mt-2" href="#site-map">site-map</a><br>
                        </div>

                    </div>
                </div>


            </div>



        </div>
    </div>



</div>
