

<div class="container">

    <hr>
    <div class="d-flex justify-content-center align-items-center m-2">
        <div class="container">
            <h2>Robô Selenium:</h2>
            <div class="row">
                <a class="btn btn-dark mr-2 col-3" href="/robo/abrir-browser-ff">abrir browser firefox</a>
                <a class="btn btn-dark mr-2 col-3" href="/robo/abrir-browser-chrome">abrir browser chrome</a>
                <a class="btn btn-dark mr-2 col-3" href="/robo/fechar-browser">fechar browser</a>
            </div>


        </div>
    </div>

    <hr>
    <div class="d-flex justify-content-center align-items-center m-2">
        <div class="container">
            <h2>Lista de ações do Robô Cadastro:</h2>
            <div class="row">
                <a class="btn btn-dark mr-2 col-3" href="#/robo/cadastro/new_prof_liberal">cadastro_new_prof_liberal</a>
            </div>


        </div>
    </div>

    <hr>
    <div class="d-flex justify-content-center align-items-center m-2">
        <div class="container">
            <h2>Lista de ações do Robô EP:</h2>
            <div class="row">
                <a class="btn btn-dark mt-2 mr-2 col-3" href="#/robo/ep/cancelar_todos_cd_aut">ep_cancelar_todos_cd_aut</a>
                <a class="btn btn-primary  mt-2 mr-2 col-3" href="#/robo/ep/cancelar">ep_cancelar_ultimo_cd_aut</a>
                <a class="btn btn-primary  mt-2 mr-2 col-3" href="#/robo/ep/solicitar">ep_solicitar</a>
                <a class="btn btn-primary  mt-2 mr-2 col-3" href="#/robo/ep/confirmar">ep_confirmar</a>
            </div>
            <div class="row">
                <a class="btn btn-dark mt-2 mr-2 col-3" href="#/robo/ep/solicitar_confirmar">ep_solicitar_confirmar</a>
                <a class="btn btn-primary  mt-2 mr-2 col-3" href="#/robo/ep/solicitar_confirmar_cancelar_com_debito_automatico">ep_solicitar_confirmar_cancelar_com_debito_automatico</a>
                <a class="btn btn-primary  mt-2 mr-2 col-3" href="#/robo/ep/solicitar_confirmar_cancelar_sem_debito_automatico">ep_solicitar_confirmar_cancelar_sem_debito_automatico</a>
            </div>
        </div>
    </div>


</div>

