<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guia perguntas</title>
    <link rel="stylesheet" href="/css/style.css">

    <!--arquivos vindos da pasta node_modules-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>

<div class="container">




    <h3>Testando container</h3>
    <hr>
    <form action="">
        <label >Titulo</label>
        <input type="text" placeholder="Titulo" class="form-control">
        <br>
        <label >Descricao</label>
        <textarea placeholder="Descreva sua pergunta aqui"  class="form-control"></textarea>
        <br>
        <button class="btn btn-success">Perguntar</button>


    </form>
</div>



<!--arquivos vindos da pasta node_modules-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>


