</body>

<!--arquivos vindos da pasta node_modules-->

<!--para o bootstrap-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>


<!--jquery mask plugin-->
<script src="/jquery-mask-plugin/dist/jquery.mask.min.js"></script>





</html>