<%- include('partials/header.ejs') %>
<!-- =======================================-->


<h1>Cadastro de consulta</h1>
<hr>
<form action="">
    <input type="text" name="name" class="form-control" id="name" placeholder="Nome do paciente">
</form>



<!-- =======================================-->
<%- include('partials/footer.ejs') %>




