<%- include('partials/header.ejs') %>
<!-- =======================================-->

<h1>consulta:</h1>
<hr>
<h4>Paciente:</h4>
<h4>Email:</h4>
<h4>CPF:</h4>
<hr>
<button>Finalizar</button>




<!-- =======================================-->
<%- include('partials/footer.ejs') %>

