<%- include('partials/header.ejs') %>
<!-- =======================================-->

<div id="calendar"> </div>

teste



<!-- =======================================-->
<%- include('partials/footer.ejs') %>

<script>
   let elemento =  document.getElementById("calendar")
    let calendar = new FullCalendar.Calendar(elemento, {
        initialView:'dayGridMonth',
        locale:'pt-br',
        events: 'getcalendar',
        eventClick:function (info) {
            console.log('ola mundo ', info.event)
            console.log('ola mundo ', info.event.id)
            console.log('ola mundo ', info.event.title)
            let id = info.event.id
            window.location.href='/event/'+id
        }
    })

    calendar.render();
</script>




