<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--arquivos vindos da pasta node_modules-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">


    <title>Cadastro</title>
</head>
<body>











</body>


<!--arquivos vindos da pasta node_modules-->

<!--para o bootstrap-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</html>