* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.navbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item{
    margin: 0 10px;
}