* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.navbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item{
    margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .navbar-item .btn{
    color: #FFF;
    background-color:#F03E3E;
    border:1px solid transparent;
    border-radius:0;
}

.nav-link.btn.btn-primary:hover{
    background-color:#fff;
    color:#f03e3e;
    border-color:#F03e3e;
}