<style type="text/css">
    #sistema{
        background: green;
    }

    #chamados{
        background: yellow;
    }

    div.dotted{
        border: dashed;
        margin: 5px;
    }

    iframe{
        width: 100%;
        height: 100%;
        border: dashed;
    }
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>

<div class="container-fluid">
    <center><h1>Tool by WILLIAM </h1></center>

    <div id="sistema" class="dotted">
        <strong> ___Links Produção___</strong>  <br>
        <button id="btn-verdesys">VERDESYS</button>
        <button id="btn-internet-card">INTERNET-CARD</button>
        <button id="btn-verdecob">VERDECOB</button>
        <button id="btn-fila-monitore">FILA-MONITORE</button>
        <button id="btn-mobile">MOBILE-COBRADORES</button>
        <button id="btn-biometria">BIOMETRIA</button>
        <button id="btn-portal">PORTAL</button>
        <button id="btn-ponto">PONTO</button>
        <br>
        <button id="btn-hot-planilhas">HOT-COMERCIAL</button>
        <button id="btn-hot-serv-fin">HOT-SERV-FIN</button>
        <button id="btn-hot-cred-cob">HOT-CRED-COB</button>
        <button id="btn-wiki">DOKU-WIKI</button>
        <button id="btn-biometria">BIOMETRIA</button>
        <button id="btn-jenkins-hml">JENKINS-HML</button>
        <button id="btn-aniversariantes">ANIVER.</button>
        <button id="btn-runrun">RUNRUNIT</button>
        <button id="btn-sindicato">SINDICATO</button>
        <button id="btn-text-compare">TEXT-COMPARE</button>
        <button id="btn-json">JSON</button>
        <button id="btn-email">EMAIL</button>
    </div>

    <div id="chamados" class="dotted">
        <INPUT id="nr-chamado" placeholder="digite numero chamado">
        <button id="btn-abrir">ABRIR</button>
        <button id="btn-n3">N3</button>
        <button id="btn-n3-aberto">N3-Aberto</button>
        <button id="btn-n4">N4</button>
        <button id="btn-n4-aberto">N4-Aberto</button>
        <button id="btn-william">WILLIAM</button>
        <button id="btn-felipe">FELIPE</button>
        <button id="btn-verdeReport">verdeReport</button>

    </div>


    <iframe id="content" src="about:blank" class="container-fluid" style="height: 100%; !important;"></iframe>
    <div id="content2"></div>


    <div id="testLoad"></div>
</div>





<script>

function abrir_janela(url){
	window.open(url,"some_name","width=300,height=200,left=10,top=10");
}

// document.getElementsByName('iframe')[0].onload(function () {
//     console.log('blau')
// })

// $('iframe').load(function () {
//     $('iframe').height($('iframe').contents().height());
// });

// $('iframe').load(function() {
//     this.style.height =
//             this.contentWindow.document.body.offsetHeight + 'px';
// });


	 $(document).ready(function(){



	 	function biometria(){

	 	};



	    $("#btn-abrir").click(function(){
	    	$("#content").attr("src","http://www.helpdesk.qq/cgi-bin/fireman3/FireTower3.exe?acao=detalhecmd&cmd="+$('#nr-chamado').val());
	    });

	    $("#btn-n3").click(function(){
	    	$("#content").attr("src","http://www.helpdesk.qq/cgi-bin/fireman3/FireTower3.exe?cmd=&refchamado=&codusuario=-1&data1=&data2=&tipodata=O&situacao=O&grupo=30&codop=T&prioridade=&motivo=&posicao=&escalado=T&acao=pesqcmd&btn=Pesquisar");
	    });

	    $("#btn-n3-aberto").click(function(){
	    	$("#content").attr("src","http://www.helpdesk.qq/cgi-bin/fireman3/FireTower3.exe?cmds=50&situacao=O&oper=VERDECARD%20-%20NIVEL%203");
	    });

	    $("#btn-n4").click(function(){
	    	$("#content").attr("src","http://www.helpdesk.qq/cgi-bin/fireman3/FireTower3.exe?cmd=&refchamado=&codusuario=-1&data1=&data2=&tipodata=O&situacao=O&grupo=201&codop=T&prioridade=&motivo=&posicao=&escalado=T&acao=pesqcmd&btn=Pesquisar");
	    });

	    $("#btn-n4-aberto").click(function(){
	    	$("#content").attr("src","http://www.helpdesk.qq/cgi-bin/fireman3/FireTower3.exe?cmds=50&situacao=O&oper=VERDECARD%20-%20NIVEL%204");
	    });

	    $("#btn-william").click(function(){
	    	$("#content").attr("src","http://www.helpdesk.qq/cgi-bin/fireman3/FireTower3.exe?acao=pesqcmd&nomeop=WILLIAM.PACHECO&situacao=O");
	    });

	    $("#btn-felipe").click(function(){
	    	$("#content").attr("src","http://www.helpdesk.qq/cgi-bin/fireman3/FireTower3.exe?acao=pesqcmd&nomeop=FELIPE.PULZ&situacao=O");
	    });

	//#####################################################
	    $("#btn-verdesys").click(function(){
	    	$("#content").attr("src","https://tc.verdecard.com.br/verdesys");
	    });

	    $("#btn-internet-card").click(function(){
	    	$("#content").attr("src","https://tc.verdecard.com.br/jsp_ic");
	    });

	    $("#btn-verdecob").click(function(){
	    	$("#content").attr("src","http://verdecob.qq");
	    });

	    $("#btn-mobile").click(function(){
	    	$("#content").attr("src","https://10.0.0.61:8444/jWsMobile/demo/buscarVersaoApk");
	    });

	    $("#btn-biometria").click(function(){
	    	$("#content").contents().find( "body" ).html('<p>hi</p>');
	    	alert('pimba');
	    });

	    $("#btn-portal").click(function(){
	    	$("#content").attr("src","http://www.portal.qq");
	    });

	    //#############################################

	    $("#btn-hot-planilhas").click(function(){
	    	$("#content").attr("src","http://planilhadevendas.qq.lc/");
	    });

	    $("#btn-hot-serv-fin").click(function(){
	    	$("#content").attr("src","http://10.0.0.11:8081/hotsite-servicos/login.jsf");
	    });

	    $("#btn-hot-cred-cob").click(function(){
	    	$("#content").attr("src","http://10.0.0.11:8081/hotsite/login.jsf");
	    });

	    $("#btn-wiki").click(function(){
	    	$("#content").attr("src","http://172.22.0.175/dokuwiki/doku.php");
	    });

		$("#btn-biometria").click(function(){
	    	biometria();
	    });

	    $("#btn-jenkins-hml").click(function(){
	    	abrir_janela("http://172.22.0.121:8080/jenkins/");

	    });


	    $("#btn-aniversariantes").click(function(){
	    	$("#content").attr("src","http://www.portal.qq/ANIVER/ANIVERSARIO2.html");
	    });

	    $("#btn-fila-monitore").click(function(){
	    	$("#content").attr("src","http://10.0.0.11:8081/fila_monitore/index.jsf");
	    });


	    $("#btn-runrun").click(function(){
	    	$("#content").attr("src","https://secure.runrun.it/pt-BR/user_session/new");
	    });

	    $("#btn-sindicato").click(function(){
	    	$("#content").attr("src","http://www.semapisindicato.org.br");
	    });

	    $("#btn-text-compare").click(function(){
	    	$("#content").attr("src","https://text-compare.com");
	    });

	    $("#btn-json").click(function(){
	    	$("#content").attr("src","http://jsonlint.com");
	    });

	    $("#btn-ponto").click(function(){
	    	abrir_janela("http://lojasqueroquero-prd-rm.totvscloud.com.br:2000/Corpore.Net/Main.aspx");
	    });

	    $("#btn-email").click(function(){


	    	abrir_janela("https://webmailmtz.quero-quero.com.br");

	    });


         $("#btn-verdeReport").click(function(){



         });








	});
</script>

