.heading {
    transition: all 1s ease-in-out;
}
.heading:hover {
    background: red;
}
/*
ID  classes,atributos e pseudo-classes      elementos, pseudo-elementos
1
*/

/*
ID

classes,atributos e pseudo-classes

elementos, pseudo-elementos

https://developer.mozilla.org/pt-BR/docs/Learn/CSS/Building_blocks/Cascade_and_inheritance





*/


/*
STYLES | ID |  classes,atributos e pseudo-classes  |    elementos, pseudo-elementos
 0     |  1 |    0                                 |  0
*/