<div class="row">
    <div class="col">
        <select name="nomeBaseSelecionado" id="nomeBaseSelecionado" class="form-control">
            {{#each listaNomesBase as |base|}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
</div>

