<div class="row">
    <div class="col">
        <select name="nomeSqlSelecionado" id="nomeSqlSelecionado" class="form-control">
            {{#each listaAllSql as |sql|}}
                <option value="{{this}}" {{ifComboOptionSelected ../nomeSqlSelecionado this}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
</div>

