{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block conteudo %}


<div class="row">

    {%if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>Se você ja fez cadastro, basta entrar com seu usuario e senha abaixo:</p>

        <form>
          <div class="form-group">
            <label for="loginUsuario">Usuário:</label>
            <input type="text" name="username" id="loginUsuario" aria-describedby="loginUsuarioHelp"  class="form-control" placeholder="Enter usuário">
            <small id="loginUsuarioHelp" class="form-text text-muted">Digite um usuário.</small>
          </div>
          <div class="form-group">
            <label for="loginPassword1">Senha:</label>
            <input type="password" name="password" id="loginPassword1"  class="form-control"  placeholder="Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
    {%endif%}

    <div class="col-lg mt-3">

        {% block titulo%}
        <h4>Cadastro</h4>
        <p>
            Caso ainda nao tenha cadastro utilize o formulario a seguir para se cadastrar
        </p>
        {% endblock%}

        <form action="" method="post">{%csrf_token%}
        {{userForm|crispy}}
        {{perfilForm|crispy}}

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Cadastrar</button>
                </div>
            </div>
        </form>


    </div>
</div>
{% endblock %}