{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block conteudo %}


<div class="row">

    {%if not request.user.is_authenticated %}
    <div class="col-lg">
        <h1>Login</h1>
    </div>
    {%endif%}

    <div class="col-lg">

        {% block titulo%}
        <h1>Cadastro</h1>
        {% endblock%}

        <form action="" method="post">{%csrf_token%}
        {{userForm|crispy}}
        {{perfilForm|crispy}}

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Cadastrar</button>
                </div>
            </div>
        </form>


    </div>
</div>
{% endblock %}