
<div class="container">
    <hr>
    <div class="d-flex justify-content-center align-items-center">
        <p><a class="btn btn-primary  mr-2" href="/home">Página Inicial</a><br/>
    </div>
    <hr>
</div>
