<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <!--bootstrap-->
    <!--<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!--font-awesome-->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/all.min.css">

</head>
<body>

{{{body}}}
{{> footer}}
{{> 'footer'}}

</body>
</html>