<!doctype html>

<!--{% load staticfiles %}-->
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <h3 class="text-info">Construindo api com jquery</h3>
    <ul clas="list-group" id="autores">

    </ul>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script>
        $.ajax({
            url:'http://localhost:8000/artigos_app/autor/',
            dataType:'json',
            success: function (autores) {
                console.log(autores);
                $.each(autores, function () {
                    $('#autores').append("<li class='list-group-item'>"+this.nome+"</li>")
                    $('#autores').append("<li class='list-group-item'>"+this.endereco+"</li>")
                    $('#autores').append("<li class='list-group-item'>"+this.site+"</li>")
                    $('#autores').append("<li class='list-group-item'>"+this.email+"</li>")
                    $('#autores').append("<br/>")
                })
            }
        })
    </script>
</body>
</html>