
<nav class="navbar light bg-dark bg-primary">
    <a href="/" class="nav-brand">
        GuiaPress
    </a>

    <ul class="navbar-nav mr-auto"></ul>


    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>