
<div class="container">
    <h1>Links Uteis</h1>

    <div class="container">
        <a href="lista">sei la</a>

        <p><a href="fix/ajustar_data_proc">fix_mudar_data_proc</a><br/>
        <p><a href="fix/compilar_obj_types">fix_compilar_obj_types</a><br/>
        <p><a href="fix/desativar_restricao_acesso_externo">desativar_restricao_acesso_externo</a><br/>
        <p><a href="fix/ajustar_barramento">fix_ajustar_barramento</a><br/>
        <p><a href="fix/ajustar_biometria_wsdl">fix_ajustar_biometria_wsdl</a><br/>
        <p><a href="fix/reset_senhas_tb">fix_reset_senhas_tb</a><br/>
        <p><a href="fix/script_ep_cancelar_um_cd_aut">fix_script_ep_cancelar_um_cd_aut</a><br/>

        <h1>Fix Uteis</h1>
        <p><a href="compras">compras_home</a><br/>

        <p><a href="tool/testes_sistemas">testes_sistemas</a><br/>
        <p><a href="robo">robo_lista_de_acoes</a><br/>



        <p><a href="site-map">site-map</a><br/>
    </div>

</div>
