
<div class="container">
    <hr>
    <h1 class="text-center">Links Uteis</h1>
    <hr>

    <div class="container">


        <p><a class="btn btn-success" href="sql/select">sql_select</a><br/>


        <br>
        <h2><p><a class="btn btn-primary" href="/home">Página Inicial</a></h2><br/>

        <p><a class="btn btn-secondary" href="#/webservice/robo">robo_lista_de_acoes</a><br/>

        <h2>Fix Uteis</h2>
        <hr>
        <p><a class="btn btn-success" href="#fix/ajustar_data_proc">fix_mudar_data_proc</a><br/>
        <p><a class="btn btn-primary" href="#fix/compilar_obj_types">fix_compilar_obj_types</a><br/>
        <p><a class="btn btn-secondary" href="#fix/desativar_restricao_acesso_externo">desativar_restricao_acesso_externo</a><br/>
        <p><a class="btn btn-dark" href="#fix/ajustar_barramento">fix_ajustar_barramento</a><br/>
        <p><a class="btn btn-danger" href="#fix/ajustar_biometria_wsdl">fix_ajustar_biometria_wsdl</a><br/>
        <p><a class="btn btn-warning" href="#fix/reset_senhas_tb">fix_reset_senhas_tb</a><br/>
        <p><a class="btn btn-secondary" href="#fix/script_ep_cancelar_um_cd_aut">fix_script_ep_cancelar_um_cd_aut</a><br/>

        <p><a class="btn btn-secondary" href="#compras">compras_home</a><br/>

        <p><a class="btn btn-secondary" href="#tool/testes_sistemas">testes_sistemas</a><br/>
        <p><a class="btn btn-secondary" href="#robo">robo_lista_de_acoes</a><br/>

        <p><a class="btn btn-secondary" href="#site-map">site-map</a><br/>
    </div>

</div>
